* {
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 400;
    color: #fff;
    text-align: left;
}

body {
    padding: 0;
    margin: 0;
    background-color: #333;
}
nav {
    position: sticky;
    top: 0px;
    width: 100vw;
    height: 50px;
    background-color: #999;
    margin: 0;
    padding: 0;
    border-bottom-width: 5px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 1;

}

nav a {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    width: 100%;
    height: 99%;
    border-color: #999;

}

nav a:hover {
    background-color: #222;
}

h1 {
    margin: 24px;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 400;
    color: #fff;
}

h2 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 400;
}

h3 {
    font-size: 36px;
    font-family: "Roboto";
    font-weight: 700;
}

h4 {
    font-weight: 700;
    margin-bottom: 8px;
}

.homeSection {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 90px;
}

.homeSection a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: rgba(0,0,0,0);
}

.homeSection img {
    width: 30vw;
    height: 20vw;
    border-radius: 10px;
    object-fit: cover;
}



.gallerySection, .animationGrid {
    display: grid;
    top: 90px;
    grid-template-columns: 33% 34% 33%;
    transform: translate(0px, 100px);
}



.gallerySection img, .animationGrid img {
    width: 100%;
    height: 19vw;
    object-fit: cover;
    position: relative; 
}

.item {
    width: 98%;
    margin: auto;
}

.selected {
    all: unset;
    display: flex;
    width: unset;
    flex-wrap: nowrap;
    overflow-x: auto;

}

.selected .item {
    margin: 0 8vw;
    
}

.selected img {
    width: unset;
    height: 45vw;
    object-fit: contain;
}

.clickable:hover > img{
    filter: brightness(50%);
}

.clickable {
    cursor: pointer;
}

.animationSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0px, 0px);
}

section div {
    position: relative;
}

.overlay{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
    opacity: 0;
    width: 100%;
}

div:hover > .overlay{
    opacity: 100%;
}

.overlay h3 {
    margin: 8px;
    color: #fff;
}

.animationSection .full {
    position: sticky;
    top: 50px;
    z-index: 1;
    background-color: #222;
    width: 100%;
    display: flex;
    justify-content: center;
}

.titleSection {
    display: flex;
    justify-content: space-between;
}

.filterButton {
    margin: 24px;
}

.filterButton:hover {
    background-color: #222;
}

.border {
    height: 1px;
    background-color: #999;
}

form {
    margin: 24px;
}

button {
    color: #000;
    font-size: 16px;
    margin-top: 16px;
}

.filterMenu {
    display: none;
}