* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #333;
}
nav {
    position: fixed;
    width: 100vw;
    height: 50px;
    background-color: #999;
    margin: 0;
    padding: 0;
    border-bottom-width: 5px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

nav a {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    width: 100%;
    height: 99%;
    border-color: #999;

}

nav a:hover {
    background-color: #222;
}



h1 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 400;
}

.homeSection {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 90px;
}

.homeSection img {
    width: 30vw;
    height: 30vw;
    border-radius: 10px;
    object-fit: cover;
}



.gallerySection {
    display: grid;
    position: relative;
    top: 90px;
    border-style: solid;
    border-width: 10px 0px 0px 0px;
    border-color: #222;
    grid-template-columns: 33% 34% 33%;
}

.gallerySection img {
    width: 100%;
    height: 19vw;
    object-fit: cover;    
}

.gallerySection img:hover {
    transform: scale(1.1);
}

.clickable {
    cursor: pointer;
}